.CEO3{color:#fdfefe;background-color:#66FF66;Font-size:30;}
#CEO1{color:#000000;background-color:#FF0000;Font-size:40;}
.CEO2{color:#4dd0e1;background-color:#9e9d24 ;Font-size:40;}
#CEO1{text-align: center;}
